- if @errors
  .errors= @errors

%h1 Leaderboard
- @users.each do |user|
  .user= user.username

- if logged_in?
  ="WELCOME #{@current_user.username}. TRY NOT TO SUCK TODAY"
  = form_for :game, url: "/games" do |f|
    = f.submit value: "ENTER THE RON THUNDERDORM!"


- else
  = form_for :user, url: "/login" do |f|
    = f.text_field :username, placeholder: "Username"
    = f.password_field :password, placeholder: "Password"
    = f.submit value: "Login!"

  = form_for :user, url: users_path do |f|
    = f.text_field :username, placeholder: "Username"
    = f.password_field :password, placeholder: "Password"
    = f.submit value: "Create Account!"